

.contains-task-list {
    list-style: none;
    padding-left: 0;
}

.contains-task-list > li > input {
    margin-right: 5px;
}

a.arrow[target="_blank"]::after {
    content: "\2197"
}

ul.arrow {
    line-height: 1.5em;
    margin: 5px 0 15px;
    padding: 0;
}

ul.columns-2 {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

ul.arrow > li {
    list-style: none;
    position: relative;
    padding: 0 0 10px 20px;
}

ul.arrow > li::before {
    content: "";
    position: absolute;
    left: 6px;
    top: 10px;
    height: 5px;
    width: 5px;
    border: 1px solid theme('colors.teal.300');
    border-width: 2px 2px 0 0;
    transform: rotate(45deg);
}